body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://img3.goodfon.com/wallpaper/big/1/2c/istoriya-igrushek-toy-story.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
